


MODEL_ID=sv30_seg/20260618_172731
SERVER_URL= http://127.0.0.1:9924
API_URL = http://127.0.0.1:8005

# GET_IMAGE_URL=http://10.9.0.9:8080/ipccamera/getimg/localcamera-0
# API_URL = http://xclabel-deploy-cpu:8000
# GET_IMAGE_URL=http://sv30_camera:8080/ipccamera/getimg/localcamera-0